doctype html
html(lang="es")
    head
        block title
        meta(charset="utf-8")
        meta(name="description", content="")
        meta(name="viewport", content="width=device-width user-scalable=no initial-scale=1")
        block css
            link(rel="stylesheet", href="/css/styles.css")
        block js
    body
        div.contenedor
            header
                div.logo
                    img(src="/img/logotipo.png", alt="Logotipo")
                    a(href="/") Sanders Gutiérrez
                nav
                    a(href="/") Inicio
                    a(href="/acercade") Acerca de
                    a(href="/productos") Productos
                    a(href="/blog") Blog
                    a(href="/contacto") Contacto
            section.principal
                block content

            block sidebar
                
            footer
                section.links
                    a(href="/") Inicio
                    a(href="/acercade") Acerca de
                    a(href="/productos") Productos
                    a(href="/blog") Blog
                    a(href="/contacto") Contacto
                div.social
                    a(href="/", ) GP
                    a(href="/", ) IN
                    a(href="/", ) FB
                    a(href="/", ) TW
                    a(href="/", ) LN
                    a(href="/", ) YT
