doctype html
html(lang="es")
    head
        title Proyectos | Sanders Gutiérrez
        meta(charset="utf-8")
        meta(name="description", content="")
        meta(name="viewport", content="width=device-width user-scalable=no initial-scale=1")
        link(rel="stylesheet", href="css/styles.css")
    body
        div.contenedor
            header
                div.logo
                    img(src="img/logotipo_1.png", alt="Logotipo")
                    a(href="/") Sanders Gutiérrez
                nav
                    a(href="/") Inicio
                    a(href="/acercade") Acerca de
                    a(href="/proyectos") Proyectos
                    a(href="/blog") Blog
                    a(href="/contacto") Contacto
            section.main
                article
                    h2.titulo Proyectos
                    p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            aside
                div.widget
                    div.image
                div.widget
                    div.image
            footer
                section.links
                    a(href="/") Inicio
                    a(href="/acercade") Acerca de
                    a(href="/proyectos") Proyectos
                    a(href="/blog") Blog
                    a(href="/contacto") Contacto
                div.social
                    a(href="/", ) GP
                    a(href="/", ) IN
                    a(href="/", ) FB
                    a(href="/", ) TW
                    a(href="/", ) LN
                    a(href="/", ) YT
