.BurgerButton {
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 1.5rem;
    color: #d4d6f5;

    @media screen and (min-width: 48rem) {
        display: none;
    }
}
