{% extends 'layout.twig' %}

{% block title %}
    Inicio
{% endblock %}

{% block content %}
    {% for i in 0..3 %}
        <article>
            <h2 class="titulo">Lorem ipsum dolor sit</h2>
            <p>
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ea,
                asperiores modi! Atque, sequi quas odio dolor cum illum facere
                quaerat et quidem est, culpa corporis dolorem! Unde distinctio
                explicabo est?
            </p>
        </article>
    {% endfor %}
{% endblock %}
