doctype html
html(lang='es')
    head
        block title
        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width user-scalable=no initial-scale=1')
        block css
            link(rel='shortcut icon', href='/static/img/logotipo.png', type='image/png')
            link(rel='stylesheet', href='/static/css/styles.css')
        block js
    body
        .contenedor
            header
                .logo
                    img(src='/static/img/logotipo.png', alt='Logotipo')
                    a(href='/') Sanders Gutiérrez
                nav
                    a(href='/') Inicio
                    a(href='/about') Acerca de
                    a(href='/products') Productos
                    a(href='/blog') Blog
                    a(href='/contact') Contacto

            section.principal
                block content

            block sidebar

            footer
                section.links
                    a(href='/') Inicio
                    a(href='/about') Acerca de
                    a(href='/products') Productos
                    a(href='/blog') Blog
                    a(href='/contact') Contacto
                .social
                    a(href='/') IN
                    a(href='/') TW
                    a(href='/') GH
