extends layout.pug

block title
    title Productos | Sanders Gutiérrez

block content
    h2 Lista de Productos
    each shirt in shirts
        article.article
            h2.titulo= `Camiseta ${shirt.title}`
            img(src=`/static/img/${shirt.image}`, width='250')
            p= shirt.description
            a.comprar(href=`/products/${shirt.id}`) Ver
