extends layout.pug

block title
    title= "Camiseta " + shirt.title + " - Sanders Gutiérrez"

block content
    article
        h2.titulo= shirt.title
        img(src="/static/img/" + shirt.image, width='250')
        p= shirt.description
        a.comprar(href='/products') Regresar
