<header class="header">
    <div class="container">
        <div class="logo">
            <img src="/static/assets/img/logo.svg"
                alt="Logotipo"
                width="40"
                height="40" />
            <a href="/">T-Shirt Store</a>
        </div>
        <nav class="menu">
            <a href="/">Inicio</a>
            <a href="/about">Nosotros</a>
            <a href="/products">Productos</a>
            <a href="/blog">Blog</a>
            <a href="/contact">Contacto</a>
        </nav>
    </div>
</header>
