<header class="header">
    <div class="container">
        <div class="logo">
            <svg version="1.1"
                id="svg1"
                width="45"
                height="45"
                viewBox="0 0 429.0722 487.2963"
                xmlns="http://www.w3.org/2000/svg"
                xmlns:svg="http://www.w3.org/2000/svg">
                <defs id="defs1" />
                <g id="g1" transform="translate(-48.762254,-17.938042)">
                    <path style="fill:#e3efff;fill-opacity:1"
                        d="m 314,503.3669 c -9.24792,-1.92181 -39.67018,-7.7051 -58,-11.02582 -6.325,-1.14588 -22.075,-4.08451 -35,-6.5303 -27.54953,-5.2132 -84.22877,-15.81002 -112,-20.93966 -10.725,-1.98103 -26.25,-4.92358 -34.5,-6.53901 -19.15299,-3.75033 -19.61374,-3.83284 -22,-3.93977 -4.40784,-0.19752 -4.49699,-0.80514 -2.43325,-16.58455 1.07716,-8.23595 3.52322,-26.89945 5.4357,-41.47445 1.91247,-14.575 5.9762,-45.85 9.0305,-69.5 20.29387,-157.13899 21.42465,-165.55731 22.67423,-168.80271 1.396,-3.62569 5.68938,-5.75637 20.40195,-10.12491 6.53998,-1.94189 17.69583,-5.45258 24.79078,-7.80154 l 12.8999,-4.27084 3.78095,-13.0499 c 4.66038,-16.08525 8.118,-24.872303 16.00517,-40.674803 8.71814,-17.46742 15.91228,-27.80565 27.39302,-39.36474 16.85106,-16.966058 32.82988,-24.583151 52.02105,-24.798402 11.75298,-0.131823 15.75007,1.426729 24,9.358128 4.82997,4.643486 5.23804,4.822649 12,5.268655 8.84067,0.583114 16.50868,4.088409 24.07906,11.007309 7.10222,6.49103 11.97858,13.72774 17.52004,26.00044 4.98297,11.03581 4.93508,11.01003 14.4009,7.75331 3.19721,-1.1 7.64988,-2 9.89482,-2 3.928,0 4.65221,0.56959 19.22934,15.12397 l 15.14762,15.123973 18.86411,1.33837 c 10.37526,0.73611 19.61947,1.35532 20.54268,1.37603 3.19777,0.0717 4.51587,2.88048 5.72808,12.2059 0.66717,5.13247 3.23622,22.60676 5.709,38.83176 2.47278,16.225 6.47873,43.225 8.9021,60 3.92055,27.13869 6.17645,42.43185 16.00488,108.5 1.39092,9.35 4.55433,30.725 7.02979,47.5 2.47546,16.775 6.77397,45.50238 9.55225,63.83862 2.77828,18.33625 4.90174,33.4883 4.7188,33.67124 -0.50769,0.5077 -12.54537,3.2597 -30.82347,7.04675 -17.42397,3.61007 -57.66939,12.33716 -94.68422,20.53197 -12.20132,2.70128 -23.90132,4.86641 -26,4.81139 C 324.2171,505.17831 318.675,504.33841 314,503.3669 Z M 197.85303,431.82848 c 6.59729,-0.72882 20.1835,-5.59511 25.60933,-9.17271 6.444,-4.24895 16.12611,-14.04995 20.4435,-20.69455 2.18991,-3.37033 5.33175,-10.17788 6.98188,-15.12788 9.48393,-28.4496 5.83671,-54.6918 -10.34549,-74.43695 -6.14506,-7.49807 -10.96787,-11.75621 -28.60311,-25.25415 -13.56821,-10.38506 -18.36272,-15.18508 -20.66038,-20.68417 -2.82725,-6.76655 0.79497,-16.99241 7.82225,-22.08294 5.68338,-4.11702 12.5439,-5.39051 26.02194,-4.83033 9.47137,0.39365 12.88457,1.00656 20.37705,3.65914 4.95,1.75246 9.675,3.28599 10.5,3.40784 1.0725,0.15842 2.51508,-2.77097 5.06164,-10.27844 1.95891,-5.775 6.12837,-18.06921 9.26547,-27.32046 3.1371,-9.25126 5.45285,-17.22655 5.14611,-17.72287 -0.83899,-1.35752 -11.97103,-4.57234 -20.70583,-5.97963 -12.30106,-1.98187 -35.90403,-0.79792 -48.26739,2.42113 -28.05721,7.30526 -48.68962,23.76056 -60.00615,47.85769 -6.96364,14.82819 -10.10148,35.69142 -7.56161,50.27646 2.91224,16.7233 10.28044,27.75057 29.17565,43.66436 6.26566,5.27702 13.04116,11.32905 15.05667,13.44895 8.13919,8.56077 11.01728,20.15729 6.97113,28.0884 -7.54133,14.78223 -27.18045,13.37492 -53.05903,-3.80212 -5.73284,-3.80521 -10.58215,-6.75976 -10.77623,-6.56567 -0.35757,0.35757 -8.8522,27.75963 -11.58251,37.36297 l -1.4867,5.2292 4.39119,4.04766 c 14.9004,13.73471 36.53201,22.9917 58.33308,24.96294 8.41221,0.76063 11.28579,0.69845 21.89754,-0.47387 z M 184,124.28377 c 9.075,-2.77911 17.14124,-5.39511 17.92497,-5.81333 0.79461,-0.42404 2.87629,-6.38669 4.70582,-13.47914 7.62851,-29.573043 23.59312,-54.332303 41.61921,-64.546573 3.1625,-1.792 5.75,-3.64025 5.75,-4.10723 0,-0.46698 -1.59582,-1.37573 -3.54626,-2.019429 -7.46013,-2.462067 -22.86394,1.406599 -33.95374,8.527479 -19.00767,12.20504 -36.43396,39.19717 -48.57401,75.237793 -3.26937,9.70592 -3.55866,11.25023 -2.10774,11.25167 0.92496,9.2e-4 9.10675,-2.27214 18.18175,-5.05124 z m 72.75,-22.57845 14.25,-4.443593 -0.003,-10.2142 c -0.003,-10.44974 -1.96237,-24.46843 -4.38197,-31.35598 -1.56813,-4.4638 -2.76948,-4.54823 -8.97513,-0.63077 -10.2276,6.4564 -18.93813,16.94343 -26.39029,31.77256 -3.87792,7.71671 -9.5031,23.912993 -8.61407,24.802023 0.43233,0.43233 7.21811,-1.54286 34.11465,-9.93004 z M 300.71273,88.174657 C 309.22513,85.560947 311,84.675127 311,83.040357 c 0,-4.19269 -8.832,-20.64911 -14.03436,-26.14984 -4.64576,-4.91221 -13.07594,-9.78022 -14.4893,-8.36686 -0.26349,0.26349 0.45816,4.04096 1.60367,8.39438 1.34962,5.12916 2.28001,12.57921 2.64318,21.1653 0.47115,11.1391 0.81071,13.25 2.13135,13.25 0.864,0 6.20019,-1.42141 11.85819,-3.15868 z"
                        id="path1" />
                </g>
            </svg>
            <a href="/">T-Shirt Shop</a>
        </div>
        <nav class="menu">
            <a href="/">Inicio</a>
            <a href="/about">Nosotros</a>
            <a href="/products">Productos</a>
            <a href="/blog">Blog</a>
            <a href="/contact">Contacto</a>
        </nav>
    </div>
</header>
