:root {
    font-family: Inter, system-ui, sans-serif;
    line-height: 1.5;
    font-weight: 400;

    text-rendering: optimizeLegibility;
}

a {
    font-weight: 500;
    color: #d4d6f5;
    text-decoration: inherit;
}

a:hover {
    color: #535bf2;
}

body {
    margin: 0;
    min-height: 100vh;
}

#root {
    display: grid;
    grid-template-rows: min-content 1fr min-content;
    min-height: 100vh;
}

.container {
    max-width: clamp(83.5rem, 80vw, 95vw);
    margin: 0 auto;
}
