{% extends 'templates/base.twig' %}

{% block title %}
	Error 404
{% endblock %}

{% block content %}
	<div class="container">
		<h2>ERROR! Lo sentimos</h2>
		<p>{{ message }}</p>
	</div>
{% endblock %}
